.navItemDropdownList6 {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.navItemDropdownList6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.navItemDropdownList6 > :global(.__wab_flex-container) > *,
.navItemDropdownList6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.navItemDropdownList6 > :global(.__wab_flex-container) > picture > img,
.navItemDropdownList6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.navBarLink___0P3Vy:global(.__wab_instance) {
  position: relative;
}
.navBarLink___45LCj:global(.__wab_instance) {
  position: relative;
}
.navBarLink__iAtHn:global(.__wab_instance) {
  position: relative;
}
.navBarLink__mJzxo:global(.__wab_instance) {
  position: relative;
}
.navBarLink__zFkj2:global(.__wab_instance) {
  position: relative;
}
