.rollover {
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: visible;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 4px;
  padding: 12px;
}
.navItemDropdownList {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navItemDropdownList > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.navItemDropdownList > :global(.__wab_flex-container) > *,
.navItemDropdownList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.navItemDropdownList > :global(.__wab_flex-container) > picture > img,
.navItemDropdownList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.navText {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "TT Hoves Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.75;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navIconWrap {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navIconWrap > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.navIconWrap > :global(.__wab_flex-container) > *,
.navIconWrap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navIconWrap > :global(.__wab_flex-container) > picture > img,
.navIconWrap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #272525;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 1s;
  transform: none;
  flex-shrink: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 1s;
}
.rollover:hover .svg {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.rollover:hover .svg * {
  transform-style: preserve-3d;
}
.navItemDropdownList6 {
  width: auto;
  height: auto;
  position: absolute;
  flex-direction: column;
  left: -50%;
  top: 40px;
  z-index: 2;
  display: none;
}
.navItemDropdownList6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.navItemDropdownList6 > :global(.__wab_flex-container) > *,
.navItemDropdownList6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.navItemDropdownList6 > :global(.__wab_flex-container) > picture > img,
.navItemDropdownList6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rollover:hover .navItemDropdownList6 {
  display: flex;
}
.navBarLink__xkxIc:global(.__wab_instance) {
  position: relative;
}
.navBarLink___1DWea:global(.__wab_instance) {
  position: relative;
}
.navBarLink__nsK68:global(.__wab_instance) {
  position: relative;
}
.navBarLink__iXxLj:global(.__wab_instance) {
  position: relative;
}
.navBarLink___0Qe9G:global(.__wab_instance) {
  position: relative;
}
