.root {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  overflow: hidden;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.imgcards__2Pic {
  height: auto;
  max-height: 100%;
}
