.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-t5vOG4osQuZN);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-E2dF77aCQE9D);
  font-family: var(--token-1CMwVYlTJcYT);
  font-size: var(--token-QSZS433F2dsA);
  line-height: var(--token-lSslBbC9VRDX);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-S9EocpFvnmLV);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-As_xtTQQC4aK);
  outline-offset: 1px;
  outline-color: var(--token-IlDPO6VK93ti);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-wi7E-PyWbNxU);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zYN5DgSbAqVG);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-qb7Qh1aZOoEx);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Qr9qriADXjcU);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-t5vOG4osQuZN);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-fHg10bTwclyt);
  font-size: var(--token-uu28I2GMN6pD);
  column-gap: var(--token-As_xtTQQC4aK);
  row-gap: 0px;
  border-radius: var(--token-P-jVoWDNCuXp);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-uu28I2GMN6pD);
  line-height: var(--token-fHg10bTwclyt);
  column-gap: var(--token-P-jVoWDNCuXp);
  row-gap: 0px;
  border-radius: var(--token-P-jVoWDNCuXp);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-8DGacGf9EbjH);
  line-height: var(--token-6kWMFrpc0t9w);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-8DGacGf9EbjH);
  line-height: var(--token-6kWMFrpc0t9w);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-MY-mZKUUPdWj);
  border-radius: var(--token-S9EocpFvnmLV);
}
.softBackgroundcolor_neutral {
  background: var(--token-FgedQBY86y-b);
}
.softBackgroundcolor_muted {
  background: var(--token-u5B_FcpaOq3q);
}
.softBackgroundcolor_success {
  background: var(--token-kTmbyWbptDkN);
}
.softBackgroundcolor_warning {
  background: var(--token-MtWRxXh4TgeD);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-tgqBEHjfxcaJ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-S9EocpFvnmLV);
  border: 0px solid var(--token-jQrlqw2dlOEL);
}
.bordercolor_neutral {
  border-color: var(--token-HV2hoDPN9Uep);
}
.bordercolor_muted {
  border-color: var(--token-AdRuABhTlhrj);
}
.bordercolor_success {
  border-color: var(--token-3eeTRbeqvo5e);
}
.bordercolor_warning {
  border-color: var(--token-ZlPRSl-D0t7K);
}
.bordercolor_errorDestructive {
  border-color: var(--token-CeN2bmg_LgtC);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-S9EocpFvnmLV);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-CcyDWZvzBLdo);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-RKWs4nCzSd52);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-fYcifxXpQltL);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__s32Ek {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-S9EocpFvnmLV) var(--token-cxvh1ZRqqxBL);
}
.freeBox__s32Ek > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-S9EocpFvnmLV));
  width: calc(100% + var(--token-S9EocpFvnmLV));
}
.freeBox__s32Ek > :global(.__wab_flex-container) > *,
.freeBox__s32Ek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s32Ek > :global(.__wab_flex-container) > picture > img,
.freeBox__s32Ek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-S9EocpFvnmLV);
}
.freeBoxsize_extraSmall__s32EkQt2QA {
  padding: var(--token-P-jVoWDNCuXp) var(--token-S9EocpFvnmLV);
}
.freeBoxsize_small__s32EkGFxSh {
  padding: var(--token-S9EocpFvnmLV) var(--token-E2dF77aCQE9D);
}
.freeBoxsize_large__s32EkeP1F3 {
  padding-top: var(--token-P-jVoWDNCuXp);
  padding-bottom: var(--token-P-jVoWDNCuXp);
}
.freeBoxsize_extraLarge__s32EkRDlwP {
  padding-left: var(--token-EG3J4PneQA00);
  padding-right: var(--token-EG3J4PneQA00);
}
.freeBoxroundedFull__s32EkczZ4R {
  padding-right: var(--token-EG3J4PneQA00);
  padding-left: var(--token-EG3J4PneQA00);
}
.freeBox__veg1B {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__veg1BhX4O2 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-8Nkux3dL8eWE);
}
.slotTargetStartcolor_neutral {
  color: var(--token-mlctrE4r3lmE);
}
.slotTargetStartcolor_muted {
  color: var(--token-vb7tL3N28kKQ);
}
.slotTargetStartcolor_success {
  color: var(--token-cBiCxSuzHD0v);
}
.slotTargetStartcolor_warning {
  color: var(--token-w8hMDkBVFBXd);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-TZP938D-eD1K);
}
.slotTargetStarttype_soft {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetStarttype_bordered {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-uu28I2GMN6pD);
}
.slotTargetStartsize_small {
  font-size: var(--token-uu28I2GMN6pD);
}
.slotTargetStartsize_large {
  font-size: var(--token-8DGacGf9EbjH);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-8DGacGf9EbjH);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-M0frUfauTxax);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-M0frUfauTxax);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-M6lfJRW5_WfT);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-M6lfJRW5_WfT);
}
.svg___2Obtl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-8Nkux3dL8eWE);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-mlctrE4r3lmE);
}
.slotTargetLabelcolor_muted {
  color: var(--token-vb7tL3N28kKQ);
}
.slotTargetLabelcolor_success {
  color: var(--token-cBiCxSuzHD0v);
}
.slotTargetLabelcolor_warning {
  color: var(--token-w8hMDkBVFBXd);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-TZP938D-eD1K);
}
.slotTargetLabeltype_soft {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetLabeltype_bordered {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-M0frUfauTxax);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-M0frUfauTxax);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-M6lfJRW5_WfT);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-M6lfJRW5_WfT);
}
.text___8LJyH {
  white-space: pre;
}
.freeBox__vlH8Y {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__vlH8YiZ1We {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-8Nkux3dL8eWE);
}
.slotTargetEndcolor_neutral {
  color: var(--token-mlctrE4r3lmE);
}
.slotTargetEndcolor_muted {
  color: var(--token-vb7tL3N28kKQ);
}
.slotTargetEndcolor_success {
  color: var(--token-cBiCxSuzHD0v);
}
.slotTargetEndcolor_warning {
  color: var(--token-w8hMDkBVFBXd);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-TZP938D-eD1K);
}
.slotTargetEndtype_soft {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetEndtype_bordered {
  color: var(--token-iccLl8qOFrmt);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-uu28I2GMN6pD);
}
.slotTargetEndsize_small {
  font-size: var(--token-uu28I2GMN6pD);
}
.slotTargetEndsize_large {
  font-size: var(--token-8DGacGf9EbjH);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-8DGacGf9EbjH);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-M0frUfauTxax);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-M0frUfauTxax);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-RN2UzHKInEiH);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-gKqJ-NGPXGQv);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-uywtOnrnm9ln);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-M6lfJRW5_WfT);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-M6lfJRW5_WfT);
}
.svg__i9SWx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
