.navbar {
  background: linear-gradient(
      93deg,
      rgba(238, 236, 232, 0.6000000238418579) 0%,
      rgba(238, 236, 232, 0.20000000298023224) 99%
    )
    0% 0% / 100% 100% no-repeat;
  backdrop-filter: blur(60px);
  width: 100%;
  height: auto;
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  transform: none;
  flex-grow: 1;
  min-width: 0;
  -webkit-backdrop-filter: blur(60px);
}
@media (max-width: 1200px) {
  .navbar {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    min-width: 0;
  }
}
.navContain {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  overflow: visible;
  flex-direction: row;
  width: 100%;
  background: #eeece8;
  min-width: 0;
}
.navContain > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.navContain > :global(.__wab_flex-container) > *,
.navContain > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navContain > :global(.__wab_flex-container) > picture > img,
.navContain
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .navContain {
    height: auto;
    padding-right: var(--token-UqDwXiVu5nZZ);
    padding-left: var(--token-UqDwXiVu5nZZ);
    flex-grow: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navContain {
    width: 100%;
    min-width: 0;
    padding: var(--token-UqDwXiVu5nZZ);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navContain > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.navTopRow {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  max-height: var(--token-cSWYeh4IK_rr);
  flex-shrink: 1;
  overflow: visible;
  padding: 16px var(--token-6xrunugRy1SP);
}
.navTopRow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.navTopRow > :global(.__wab_flex-container) > *,
.navTopRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navTopRow > :global(.__wab_flex-container) > picture > img,
.navTopRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .navTopRow {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navTopRow {
    padding: 0px;
  }
}
.img__lgzIb {
  object-fit: cover;
  max-width: 100%;
  width: 144px;
  height: 44.880001068115234px;
  display: block !important;
  position: relative;
  flex-shrink: 0;
}
.img__lgzIb > picture > img {
  object-fit: cover;
}
.menuList {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: visible;
  flex-direction: row;
}
.menuList > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.menuList > :global(.__wab_flex-container) > *,
.menuList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuList > :global(.__wab_flex-container) > picture > img,
.menuList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 1200px) {
  .menuList {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuList {
    display: none;
  }
}
.menuListgamburgerMenuOpen_open {
  display: none;
}
.menuListgamburgerMenuOpen_close {
  display: none;
}
.menuItemsList {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: visible;
  flex-direction: row;
}
.menuItemsList > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.menuItemsList > :global(.__wab_flex-container) > *,
.menuItemsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItemsList > :global(.__wab_flex-container) > picture > img,
.menuItemsList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.navDropdown__zFIz:global(.__wab_instance) {
  position: relative;
}
.navDropdown__zaIac:global(.__wab_instance) {
  position: relative;
}
.navDropdown__aBfkv:global(.__wab_instance) {
  position: relative;
}
.navDropdown__baoY:global(.__wab_instance) {
  position: relative;
}
.navDropdown___2Eq64:global(.__wab_instance) {
  position: relative;
}
.rollover6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  border-radius: 2px 8px;
}
.rollover6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.rollover6 > :global(.__wab_flex-container) > *,
.rollover6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rollover6 > :global(.__wab_flex-container) > picture > img,
.rollover6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.btnMainWrap6 {
  background: rgba(242, 169, 0, 1);
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding: 12px;
}
.btnMainWrap6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.btnMainWrap6 > :global(.__wab_flex-container) > *,
.btnMainWrap6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnMainWrap6 > :global(.__wab_flex-container) > picture > img,
.btnMainWrap6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.btnMainList6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
}
.btnMainList6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.btnMainList6 > :global(.__wab_flex-container) > *,
.btnMainList6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnMainList6 > :global(.__wab_flex-container) > picture > img,
.btnMainList6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.btnMainText6 {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "TT Hoves Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.75;
  color: rgba(53, 50, 51, 1);
  position: relative;
}
.navIconWrap6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navIconWrap6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.navIconWrap6 > :global(.__wab_flex-container) > *,
.navIconWrap6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navIconWrap6 > :global(.__wab_flex-container) > picture > img,
.navIconWrap6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #272525;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__cb3Z1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  cursor: pointer;
  display: none;
  padding: 8px;
}
.freeBox__cb3Z1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cb3Z1 > :global(.__wab_flex-container) > *,
.freeBox__cb3Z1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cb3Z1 > :global(.__wab_flex-container) > picture > img,
.freeBox__cb3Z1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .freeBox__cb3Z1 {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cb3Z1 {
    display: flex;
  }
}
.freeBoxgamburgerMenuOpen_open__cb3Z1AqW5 {
  display: flex;
}
.freeBoxgamburgerMenuOpen_close__cb3Z1BcC2E {
  display: flex;
}
.freeBox__gbnyK {
  display: block;
  position: relative;
  width: 32px;
  height: 2px;
  max-width: 100%;
  left: auto;
  top: auto;
  background: var(--token-x9Rqqw3tEegp);
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxgamburgerMenuOpen_open__gbnyKaqW5 {
  display: none;
}
.freeBox__fjYdR {
  display: block;
  position: relative;
  width: 32px;
  height: 2px;
  max-width: 100%;
  left: auto;
  top: auto;
  background: var(--token-x9Rqqw3tEegp);
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxgamburgerMenuOpen_open__fjYdRaqW5 {
  display: none;
}
.freeBox__ibTe4 {
  position: relative;
  width: 32px;
  height: 32px;
  max-width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  display: none;
  padding: 8px;
}
.freeBoxgamburgerMenuOpen_open__ibTe4AqW5 {
  display: block;
}
.img__lihSz {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  display: block !important;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img__lihSz > picture > img {
  object-fit: cover;
}
.menuWrap {
  background: #eeece8;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  left: 0px;
  top: 77px;
  min-height: 500px;
  flex-shrink: 0;
  display: none;
  padding: 32px;
  border-bottom: 1px solid #272525;
}
.menuWrap > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.menuWrap > :global(.__wab_flex-container) > *,
.menuWrap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuWrap > :global(.__wab_flex-container) > picture > img,
.menuWrap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 1200px) {
  .menuWrap {
    height: auto;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuWrap {
    width: 100%;
    position: absolute;
    background: #eeece8;
    left: 0px;
    top: 77px;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuWrap > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.menuWrapgamburgerMenuOpen_open {
  display: flex;
}
.menuContain {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.menuContain > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.menuContain > :global(.__wab_flex-container) > *,
.menuContain > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuContain > :global(.__wab_flex-container) > picture > img,
.menuContain
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
@media (max-width: 1200px) {
  .menuContain > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuContain {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuContain > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuContain > :global(.__wab_flex-container) > *,
  .menuContain > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menuContain > :global(.__wab_flex-container) > picture > img,
  .menuContain
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: auto;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.textWrap {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider > :global(.__wab_flex-container) > *,
.v03Divider > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider > :global(.__wab_flex-container) > picture > img,
.v03Divider
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101695 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101695 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101695 > :global(.__wab_flex-container) > *,
.frame101695 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101695 > :global(.__wab_flex-container) > picture > img,
.frame101695
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem > :global(.__wab_flex-container) > *,
.navLinkItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem > :global(.__wab_flex-container) > picture > img,
.navLinkItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem2 > :global(.__wab_flex-container) > *,
.navLinkItem2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem2 > :global(.__wab_flex-container) > picture > img,
.navLinkItem2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText2 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem3 > :global(.__wab_flex-container) > *,
.navLinkItem3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem3 > :global(.__wab_flex-container) > picture > img,
.navLinkItem3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText3 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem4 > :global(.__wab_flex-container) > *,
.navLinkItem4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem4 > :global(.__wab_flex-container) > picture > img,
.navLinkItem4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText4 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem5 > :global(.__wab_flex-container) > *,
.navLinkItem5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem5 > :global(.__wab_flex-container) > picture > img,
.navLinkItem5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText5 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem6 > :global(.__wab_flex-container) > *,
.navLinkItem6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem6 > :global(.__wab_flex-container) > picture > img,
.navLinkItem6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText6 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.column2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column2 > :global(.__wab_flex-container) > *,
.column2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column2 > :global(.__wab_flex-container) > picture > img,
.column2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column2 {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column2 {
    width: auto;
  }
}
.textWrap2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title2 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider2 > :global(.__wab_flex-container) > *,
.v03Divider2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider2 > :global(.__wab_flex-container) > picture > img,
.v03Divider2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr2 {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101697 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101697 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101697 > :global(.__wab_flex-container) > *,
.frame101697 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101697 > :global(.__wab_flex-container) > picture > img,
.frame101697
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem7 > :global(.__wab_flex-container) > *,
.navLinkItem7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem7 > :global(.__wab_flex-container) > picture > img,
.navLinkItem7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText7 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem8 > :global(.__wab_flex-container) > *,
.navLinkItem8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem8 > :global(.__wab_flex-container) > picture > img,
.navLinkItem8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText8 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.column3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column3 {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column3 {
    width: auto;
  }
}
.textWrap3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title3 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider3 > :global(.__wab_flex-container) > *,
.v03Divider3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider3 > :global(.__wab_flex-container) > picture > img,
.v03Divider3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr3 {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101698 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101698 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101698 > :global(.__wab_flex-container) > *,
.frame101698 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101698 > :global(.__wab_flex-container) > picture > img,
.frame101698
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem9 > :global(.__wab_flex-container) > *,
.navLinkItem9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem9 > :global(.__wab_flex-container) > picture > img,
.navLinkItem9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText9 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem10 > :global(.__wab_flex-container) > *,
.navLinkItem10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem10 > :global(.__wab_flex-container) > picture > img,
.navLinkItem10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText10 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem11 > :global(.__wab_flex-container) > *,
.navLinkItem11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem11 > :global(.__wab_flex-container) > picture > img,
.navLinkItem11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText11 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem12 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem12 > :global(.__wab_flex-container) > *,
.navLinkItem12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem12 > :global(.__wab_flex-container) > picture > img,
.navLinkItem12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText12 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem13 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem13 > :global(.__wab_flex-container) > *,
.navLinkItem13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem13 > :global(.__wab_flex-container) > picture > img,
.navLinkItem13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText13 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem14 > :global(.__wab_flex-container) > *,
.navLinkItem14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem14 > :global(.__wab_flex-container) > picture > img,
.navLinkItem14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText14 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.column4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column4 > :global(.__wab_flex-container) > *,
.column4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column4 > :global(.__wab_flex-container) > picture > img,
.column4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column4 {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column4 {
    width: auto;
  }
}
.textWrap4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title4 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider4 > :global(.__wab_flex-container) > *,
.v03Divider4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider4 > :global(.__wab_flex-container) > picture > img,
.v03Divider4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr4 {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101699 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101699 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101699 > :global(.__wab_flex-container) > *,
.frame101699 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101699 > :global(.__wab_flex-container) > picture > img,
.frame101699
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem15 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem15 > :global(.__wab_flex-container) > *,
.navLinkItem15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem15 > :global(.__wab_flex-container) > picture > img,
.navLinkItem15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText15 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem16 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem16 > :global(.__wab_flex-container) > *,
.navLinkItem16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem16 > :global(.__wab_flex-container) > picture > img,
.navLinkItem16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText16 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem17 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem17 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem17 > :global(.__wab_flex-container) > *,
.navLinkItem17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem17 > :global(.__wab_flex-container) > picture > img,
.navLinkItem17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText17 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem18 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem18 > :global(.__wab_flex-container) > *,
.navLinkItem18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem18 > :global(.__wab_flex-container) > picture > img,
.navLinkItem18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText18 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem19 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem19 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem19 > :global(.__wab_flex-container) > *,
.navLinkItem19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem19 > :global(.__wab_flex-container) > picture > img,
.navLinkItem19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText19 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem20 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem20 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem20 > :global(.__wab_flex-container) > *,
.navLinkItem20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem20 > :global(.__wab_flex-container) > picture > img,
.navLinkItem20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText20 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.column5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column5 > :global(.__wab_flex-container) > *,
.column5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column5 > :global(.__wab_flex-container) > picture > img,
.column5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column5 {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column5 {
    width: auto;
  }
}
.textWrap5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title5 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider5 > :global(.__wab_flex-container) > *,
.v03Divider5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider5 > :global(.__wab_flex-container) > picture > img,
.v03Divider5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr5 {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101700 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101700 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101700 > :global(.__wab_flex-container) > *,
.frame101700 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101700 > :global(.__wab_flex-container) > picture > img,
.frame101700
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem21 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem21 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem21 > :global(.__wab_flex-container) > *,
.navLinkItem21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem21 > :global(.__wab_flex-container) > picture > img,
.navLinkItem21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText21 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem22 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem22 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem22 > :global(.__wab_flex-container) > *,
.navLinkItem22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem22 > :global(.__wab_flex-container) > picture > img,
.navLinkItem22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText22 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem23 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem23 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem23 > :global(.__wab_flex-container) > *,
.navLinkItem23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem23 > :global(.__wab_flex-container) > picture > img,
.navLinkItem23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText23 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem24 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem24 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem24 > :global(.__wab_flex-container) > *,
.navLinkItem24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem24 > :global(.__wab_flex-container) > picture > img,
.navLinkItem24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText24 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem25 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem25 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem25 > :global(.__wab_flex-container) > *,
.navLinkItem25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem25 > :global(.__wab_flex-container) > picture > img,
.navLinkItem25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText25 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.column6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column6 > :global(.__wab_flex-container) > *,
.column6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column6 > :global(.__wab_flex-container) > picture > img,
.column6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .column6 {
    width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column6 {
    width: auto;
  }
}
.textWrap6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 48px;
}
.title6 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "TT Hoves Pro";
  font-weight: 500;
  letter-spacing: -1.159999966621399px;
  line-height: 1.149999976158142;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.v03Divider6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.v03Divider6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.v03Divider6 > :global(.__wab_flex-container) > *,
.v03Divider6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.v03Divider6 > :global(.__wab_flex-container) > picture > img,
.v03Divider6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hr6 {
  background: rgba(39, 37, 37, 0.20000000298023224);
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame101701 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame101701 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame101701 > :global(.__wab_flex-container) > *,
.frame101701 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame101701 > :global(.__wab_flex-container) > picture > img,
.frame101701
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.navLinkItem26 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem26 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem26 > :global(.__wab_flex-container) > *,
.navLinkItem26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem26 > :global(.__wab_flex-container) > picture > img,
.navLinkItem26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText26 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem27 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem27 > :global(.__wab_flex-container) > *,
.navLinkItem27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem27 > :global(.__wab_flex-container) > picture > img,
.navLinkItem27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText27 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem28 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem28 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem28 > :global(.__wab_flex-container) > *,
.navLinkItem28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem28 > :global(.__wab_flex-container) > picture > img,
.navLinkItem28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText28 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem29 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem29 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem29 > :global(.__wab_flex-container) > *,
.navLinkItem29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem29 > :global(.__wab_flex-container) > picture > img,
.navLinkItem29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText29 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem30 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem30 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem30 > :global(.__wab_flex-container) > *,
.navLinkItem30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem30 > :global(.__wab_flex-container) > picture > img,
.navLinkItem30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText30 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem31 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem31 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem31 > :global(.__wab_flex-container) > *,
.navLinkItem31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem31 > :global(.__wab_flex-container) > picture > img,
.navLinkItem31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText31 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem32 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem32 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem32 > :global(.__wab_flex-container) > *,
.navLinkItem32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem32 > :global(.__wab_flex-container) > picture > img,
.navLinkItem32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText32 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
.navLinkItem33 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-right: 24px;
}
.navLinkItem33 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.navLinkItem33 > :global(.__wab_flex-container) > *,
.navLinkItem33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinkItem33 > :global(.__wab_flex-container) > picture > img,
.navLinkItem33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navLinkText33 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "JetBrains Mono";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(39, 37, 37, 1);
  position: relative;
}
