.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: none;
  color: var(--token-Yq556PvPjGii);
  font-family: var(--token-1CMwVYlTJcYT);
  font-size: var(--token-QSZS433F2dsA);
  line-height: var(--token-lSslBbC9VRDX);
  width: 100%;
  position: relative;
  outline-style: none;
  background: none;
  min-width: 0;
  border-radius: var(--token-S9EocpFvnmLV);
  padding: var(--token-S9EocpFvnmLV) 0rem;
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  border-bottom-color: var(--token-Qr9qriADXjcU);
  border-bottom-width: 1px;
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-u5B_FcpaOq3q);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-mRWyhH_V8F67);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-u5B_FcpaOq3q);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-4lZ1tnMYP4X0);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-4lZ1tnMYP4X0);
}
